#rowvalues > .row-body {
    padding: 5px;
    /* border: 1px solid rgba(204, 204, 204, 0.459); */
    border-top: none;
}

#rowvalues {
    width: 100%;
    /* height: 500px; */
    min-height: 0%;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

#rowvalues > .rowHead {
    position: sticky;
    /* position: -webkit-sticky; */
    top: 0;
    z-index: 999;
}

.row-body > .row:nth-child(even) {
    background: #fff;
}

.row-body > .row:nth-child(odd) {
    background: #cccccc36;
}
.tankdraw {
    height: 250px;
}

.Cylinder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Cylinder > .vertical-tank > .tank {
    width: 150px;
    height: 250px;
    border-radius: 100% / 30px;
    border: 1px solid black;
    transform: rotate(180deg);
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.36) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}

.Cylinder > .vertical-tank > .tank::after {
    content: "";
    position: absolute;
    background: #80808054;
    background: linear-gradient(to top, #80808054 0%, #808080d0 100%);
    border: 0 solid transparent;
    border-radius: 100% / 30px;
    z-index: 500;
    width: 150px;
    height: 30px;
    top: -1px;
    opacity: 0.5;
}
/* .Cylinder > .vertical-tank > .horizontalFuelRaise::after{
    animation: horizontalFuelRaiseAfter 2s linear both;
} */

.Cylinder > .vertical-tank > .tank > .fuel {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.36) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    width: 150px;
    height: 250px;
    border-radius: 100% / 30px;
    border: 1px solid black;
    border-top: 1px solid transparent;
    border-left: transparent;
}

.horizontalFuelRaise {
    background: var(--blue);
    animation: horizontalFuelRaise 2s linear both;
}

@keyframes horizontalFuelRaiseAfter {
    0% {
        top: 0px;
    }
    100% {
        top: 150px;
    }
}
@keyframes horizontalFuelRaise {
    0% {
        height: 20px;
    }
    100% {
        height: 100%;
    }
}

.Cylinder > .vertical-tank > .radius-value {
    position: absolute;
    bottom: -35px;
    left: 25%;
    font-size: 14px;
    font-weight: 600;
    color: var(--red);
    width: max-content;
    height: max-content;
}

.Cylinder > .vertical-tank > .length-value {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    bottom: 40%;
    right: -3rem;
    transform: rotate(90deg);
    color: var(--red);
}
.Cylinder > .vertical-tank .fuel-value {
    position: absolute;
    top: 50%;
    font-size: 14px;
    left: 45px;
    transform: rotate(180deg);
    font-weight: 600;
    color: var(--red);
}

.Cylinder > .vertical-tank.horizontal-tank > .tank {
    height: 250px;
    transform: rotate(270deg) !important;
}
/*
    .Cylinder > .vertical-tank.horizontal-tank > .tank > .fuel {
        margin: 0;
        padding: 0;
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.36) 50%,
            rgba(255, 255, 255, 0) 100%
        );
        width: 150px;
        border-radius: 100% / 30px;
        border: 1px solid black;
        border-top: 1px solid transparent;
        border-left: transparent;
        height: 250px !important; 
    }
*/

.Cylinder > .vertical-tank.horizontal-tank > .tank > .fuel-value {
    transform: rotate(90deg) !important;
}
.Cylinder > .vertical-tank.horizontal-tank > .length-value {
    right: 2rem !important;
    top: 13rem !important;
    transform: revert !important;
}
.Cylinder > .vertical-tank.horizontal-tank > .radius-value {
    left: 11.5rem !important;
    top: 7rem !important;
    transform: rotate(90deg) !important;
}
.spin {
    animation: spin 2s linear both;
}
@keyframes spin {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-100%) rotate(360deg);
    }
}
.Rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.Rectangle .tank {
    border: 0.25rem solid #363636;
    height: 230px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.Rectangle > .horizontal-tank > .tank {
    margin: 10px 0 0 0;
    height: 120px;
    width: 230px;
}

.Rectangle .tank > .fuel {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    transform: translate(0%, 35%);
    left: 50%;
    border-radius: 100px;
    background: var(--blue);
}

.Rectangle .fuel-value {
    z-index: 999;
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 42%;
    width: 114px;
    text-align: center;
}

.Rectangle > .horizontal-tank .fuel-value {
    top: 3rem;
    left: 3.5rem;
}

.Rectangle .spinning {
    animation: spinning 3s both ease-in-out;
}

@keyframes spinning {
    0% {
        transform: translate(-50%, 100px);
    }

    100% {
        transform: translate(-50%, -50%) rotate(500deg);
    }
}

.tran::before {
    background-color: transparent !important;
}

.checkCalibrateChanges{
    width: 6rem !important;
    padding: .8rem !important;
    font-size: 13px !important;
}

button.popup{
    padding: .8rem !important;
    font-size: 12px !important;
}