.custom-template {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: -325px;
    width: 325px;
    height: max-content;
    display: block;
    z-index: 1;
    background: #ffffff;
    transition: all 0.3s;
    z-index: 1003;
    box-shadow: -1px 1px 20px rgba(69, 65, 78, 0.15);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 0.5s;
}

.custom-template.open {
    right: 0px;
}

.custom-template .custom-toggle {
    position: absolute;
    width: 45px;
    height: 45px;
    background: rgb(88, 103, 221);
    top: 50%;
    left: -45px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #177dff;
    cursor: pointer;
    color: #ffffff;
    box-shadow: -5px 5px 20px rgba(69, 65, 78, 0.21);
}

.custom-template .custom-toggle i {
    font-size: 20px;
    animation: 1.3s spin linear infinite;
}

.custom-template .title {
    padding: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-bottom: 1px solid #ebedf2;
    background: #5867dd;
}

.custom-template .custom-content {
    padding: 20px 15px;
    max-height: calc(100vh - 90px);
    overflow: auto;
}

.custom-template .switcher {
    padding: 5px 0;
}

.custom-template .switch-block h4 {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    line-height: 1.3;
    margin-bottom: 0;
    text-transform: uppercase;
}

.custom-template .btnSwitch {
    margin-top: 20px;
    margin-bottom: 25px;
}

.custom-template .btnSwitch button {
    border: 0px;
    height: 20px;
    width: 20px;
    outline: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #eee;
    position: relative;
    transition: all 0.2s;
}

.custom-template .btnSwitch button:hover {
    border-color: #0bf;
}

.custom-template .btnSwitch button.selected {
    border-color: #0bf;
}

.custom-template .img-pick {
    padding: 4px;
    min-height: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-template .img-pick img {
    height: 100%;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
}

.custom-template .img-pick:hover img,
.custom-template .img-pick.active img {
    border-color: #177dff;
}

.demo .btn,
.demo .progress {
    margin-bottom: 15px !important;
}

.demo .form-check-label,
.demo .form-radio-label {
    margin-right: 15px;
}

.demo .toggle,
.demo .btn-group {
    margin-right: 15px;
}

.demo #slider {
    margin-bottom: 15px;
}

.table-typo tbody > tr > td {
    border-color: #fafafa;
}

.table-typo tbody > tr > td:first-child {
    min-width: 200px;
    vertical-align: bottom;
}

.table-typo tbody > tr > td:first-child p {
    font-size: 14px;
    color: #333;
}

.demo-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 0.2s;
}

.demo-icon:hover {
    background-color: #f4f5f8;
    border-radius: 3px;
}

.demo-icon .icon-preview {
    font-size: 1.8rem;
    margin-right: 10px;
    line-height: 1;
    color: #333439;
}

body[data-background-color="dark"] .demo-icon .icon-preview {
    color: #969696;
}

.demo-icon .icon-class {
    font-weight: 300;
    font-size: 13px;
    color: #777;
}

body[data-background-color="dark"] .demo-icon .icon-class {
    color: #a9a8a8;
}

.form-show-notify .form-control {
    margin-bottom: 15px;
}

.form-show-notify label {
    padding-top: 0.65rem;
}

.map-demo {
    height: 300px;
}

#instructions li {
    padding: 5px 0;
}

.row-demo-grid {
    margin-bottom: 15px;
}

.row-demo-grid [class^="col"] {
    text-align: center;
}

.row-demo-grid [class^="col"] .card-body {
    background: #ddd;
}

.btnSwitch button[data-color="white"] {
    background-color: #fff;
}
.btnSwitch button[data-color="grey"] {
    background-color: #f1f1f1;
}
.btnSwitch button[data-color="black"] {
    background-color: #191919;
}
.btnSwitch button[data-color="dark"] {
    background-color: #1a2035;
}
.btnSwitch button[data-color="blue"] {
    background-color: #1572e8;
}
.btnSwitch button[data-color="purple"] {
    background-color: #6861ce;
}
.btnSwitch button[data-color="light-blue"] {
    background-color: #48abf7;
}
.btnSwitch button[data-color="green"] {
    background-color: #31ce36;
}
.btnSwitch button[data-color="orange"] {
    background-color: #ffad46;
}
.btnSwitch button[data-color="red"] {
    background-color: #f25961;
}
.btnSwitch button[data-color="dark2"] {
    background-color: #1f283e;
}
.btnSwitch button[data-color="blue2"] {
    background-color: #1269db;
}
.btnSwitch button[data-color="purple2"] {
    background-color: #5c55bf;
}
.btnSwitch button[data-color="light-blue2"] {
    background-color: #3697e1;
}
.btnSwitch button[data-color="green2"] {
    background-color: #2bb930;
}
.btnSwitch button[data-color="orange2"] {
    background-color: #ff9e27;
}
.btnSwitch button[data-color="red2"] {
    background-color: #ea4d56;
}
.btnSwitch button[data-color="bg1"] {
    background-color: #fafafa;
}
.btnSwitch button[data-color="bg2"] {
    background-color: #fff;
}
.btnSwitch button[data-color="bg3"] {
    background-color: #f1f1f1;
}

@media screen and (max-width: 550px) {
    .table-typo tr td {
        display: flex;
        align-items: center;
        word-break: break-word;
    }

    .table-typo tr td:first-child p {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 576px) {
    .custom-template .custom-content {
        overflow: auto;
    }
    .form-show-notify > .text-right,
    .form-show-validation > .text-right {
        text-align: left !important;
    }
}

@media screen and (max-width: 400px) {
    .custom-template {
        width: 85% !important;
        right: -85%;
    }
}

.switch input {
    display: none;
}
.switch {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 8px;
    transform: translateY(50%);
    position: relative;
    bottom: 22px;
}
/* Style Wired */
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #777, 0 0 4px #777;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #777;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: 0.4s;
}

input:checked + .slider:before {
    transform: translateX(30px);
    background: #1269db;
}
input:checked + .slider {
    box-shadow: 0 0 0 2px #1269db, 0 0 2px #1269db;
}

input:checked + .slider::after {
    content: "YES";
    position: relative;
    left: 2px;
}

input:not(:checked) + .slider::after {
    content: "NO";
    position: relative;
    left: 25px;
}

/* label.switch:before {
    content: "off";
    position: absolute;
    left: right;
    right: 12px;
    top: 4px;
}

label.switch:after input:checked {
    content: "on";
    position: absolute;
    left: 10px;
    top: 3px;
} */

/* Style Flat */
.switch.flat .slider {
    box-shadow: none;
}
.switch.flat .slider:before {
    background: #fff;
}
.switch.flat input:checked + .slider:before {
    background: red;
}
.switch.flat input:checked + .slider {
    background: #1269db;
}
.error-message ul {
    border: 1px solid #fbd7d8;
    background: #fbd7d8;
    color: #000;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
}
.error-message li {
    list-style-type: none;
    color: #b55156 !important;
    margin: 5px 10px;
}

.select2-selection.select2-selection--single {
    font-size: 14px !important;
    border-color: #ced4da !important;
    padding: 0.4rem !important;
    height: 40px !important;
}
.card-body .select2-container--default .select2-selection--multiple {
    border-color: #ced4da !important;
    padding: 7px 0 !important;
}
.card-body
    .select2-container--default
    .select2-selection--multiple:focus-within {
    border-color: #6b92f5 !important;
}

.card-body
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 10px !important;
    right: 10px !important;
}
.py-select-1 {
    padding: 0.4rem !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.swal-text {
    text-align: center !important;
}
.alert .close {
    top: 0 !important;
}

.card-stats .card-body {
    padding: 0 !important;
}

.sub-item,
.nav-item > a > p {
    color: #000 !important;
}

.form-group .form-control,
.input-group .form-control[name="searchtext"],
.form-control-sm,
.form-control {
    border: 1px solid #ced4da;
}

.select2-results__options > li {
    color: #000 !important;
    font-weight: 500 !important;
}
.select2-results__option.select2-results__option--selectable.select2-results__option--selected {
    color: #000 !important;
}
.select2-results__option.select2-results__option--selectable.select2-results__option--selected.select2-results__option--highlighted {
    color: white !important;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #a19f9f 0%, #a19f9f 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.form-control:disabled, .form-control[readonly]{
    border-color:#c5c2c2 !important
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: rgba(0, 0, 0, 0.03) !important;
}
table.dataTable td, table.dataTable th,.table td, .table th{
    font-size: 13px !important;
}
.table td,table.dataTable td{
    font-weight: 500 !important;
    color: #000 !important;
}

/* p{
    font-size: 16px!important;
    color: #000 !important;
    font-weight: 700 !important;
} */