body{
    background: rgb(2,0,36);
    background: linear-gradient(41deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,212,255,1) 100%);
}

.login-wrap {
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); 

}
.login-wrap h3 {
    font-weight: 300; 
}
.login-wrap .icon {
    width: 60px;
    height: 60px;
    background: #1089ff;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px; 
}
.login-wrap .icon span {
    color: #fff; 
}
.separator{
    display: flex;
    align-items: center;
    text-align: center
}
.separator:after, .separator:before {
    margin:.8rem;
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #00000052;
}
.social-sign  button{
    border: none;
    box-shadow:  0px 8px 15px  #0000001a, 0px 8px 15px  #0000001a;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.social-sign  button:hover{
    border: none;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px #72ecbc;
    transform: translateY(-7px);
    color: white;
}
.container .toggle-password {
    margin-top: 15px;
    margin-left: -30px;
    cursor: pointer;
}
.wrap-select{
    margin-right: 1rem;
    position: relative;
    border: 1px solid #bdbaba;
    border-radius: 5px;
}
.selectpicker{
    padding: .2rem;
    padding-right: .5rem;
    margin-left: 1.5rem;
    border: none;
}
.fa-globe{
    font-size: medium;
    position: absolute;
    top: .3rem;
    left: 10px;
    z-index: 1;
    pointer-events: none;
}

.error-message ul {
    border: 1px solid #fbd7d8;
    background: #fbd7d8;
    color: #000;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
}
.error-message li {
    list-style-type: none;
    color: #b55156 !important;
    margin: 5px 10px;
}