label.error{
	white-space:normal;
}
.custom-select{
	min-width: 60px;
}

.form-group-default.active {
	border-color: #1572e8 !important;
    background-color: #ffffff;
}
.form-group-default.error-cont {
	border-color: #F25961 !important;
}
.form-group-default.active label:not(.error){
    color: #1572e8!important;
    opacity: 1 !important;
}
.editable-input .form-control{
	padding: 0.3rem 1rem;
}
.table.dataTable {
	border-spacing: 1px;
}
.table.dataTable thead th{
	height: 50px;
}
.form-group-password .show-password{
	position: absolute;
    right: 36px;
    top: 66%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.bg-white{
    background: #FFF !important;
}

#map {
    margin-top: 30px;
  width:100%;
  height: 250px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 50%;
}
#searchInput:focus {
  border-color: #4d90fe;
}
ul#geoData {
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}
ul#geoData span {
    font-weight: normal;
}
